h1 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #8900FF;
}

.button {
  border: 1px solid #003FFF;
  border-radius: 5px;
}

.instruction {
  border: 1px solid #003FFF;
  border-radius: 5px;
  display: block;
  margin-top:20px;
}

#surprise {
  margin-top: 15px;
  font-family: Arial, sans-serif;
}
